:root{
    --font-family-main: 'Latin Modern Math','Adobe Garamond','方正宋刻本秀楷简体','Calibri','楷体','华文中宋','楷体','霞鹜文楷 屏幕阅读版';  
    --font-family-title: 'Optima LT Medium','Arial','方正苏新诗柳楷简体','黑体'; 
    --font-family-footer: 'Charm','Calibri','叶根友毛笔行书修正版','方正苏新诗柳楷简体','楷体';
    --font-family-code: 'Fira Code','HYMingChanKeBen W','Consolas','霞鹜文楷等宽','华文中宋','宋体';
    --font-size-1: 55px;
    --foot-size-subtitle: 42px;
    --font-size-2-3: 38px; 
    --font-size-4-5: 30px; 
    --font-size-main: 25px;
    --font-size-footer: 22px;
    --font-size-page: 12px;
    --font-size-code: 22px;
  }


:root{
    --font-family-main:'黑体' ;
    --font-family-title: '黑体' ;
    --font-family-footer: '黑体' ;
    --font-family-code: '黑体' ;
    --font-size-1: 55px;
    --foot-size-subtitle: 42px;
    --font-size-2-3: 38px; 
    --font-size-4-5: 30px; 
    --font-size-main: 25px;
    --font-size-footer: 22px;
    --font-size-page: 12px;
    --font-size-code: 22px;
}